# required
fiona>=1.8.19
pandas>=1.1.0
pyproj>=3.0.1
shapely>=1.7.1
packaging
geopandas>=0.13.0
dask
dask-geopandas
python-dotenv
pyarrow
momepy
ipywidgets
shapely==2.0.1

# geodatabase access
psycopg2-binary>=2.8.0
SQLAlchemy>=1.3
sshtunnel

# geocoding
geopy

# plotting
matplotlib>=3.3.4
mapclassify
seaborn
plotly
ipykernel>=6.26.0
nbformat>=5.9.2
contextily

# PostGIS writing
GeoAlchemy2
