# required
fiona>=1.8.19
pandas>=1.1.0
pyproj>=3.0.1
shapely>=1.7.1
packaging
geopandas>=0.13.0
dask
dask-geopandas

# geodatabase access
psycopg2-binary>=2.8.0
SQLAlchemy>=1.3
sshtunnel

# geocoding
geopy

# plotting
matplotlib>=3.3.4
mapclassify
seaborn

# testing
pytest>=3.1.0
pytest-cov
codecov

# spatial access methods
rtree>=0.9

# styling
black
pre-commit

# PostGIS writing
GeoAlchemy2
